<div class="all">
    <div class="left">

    </div>
    <div class="center">
        <div class="main2">
            <section>
                <div class="mainHead">
                    <div style="display: flex;">
                        <span class="htmlCode1"> {{h3}}</span>
                        <h3>Hello!</h3>
                        <span class="htmlCode1"> {{h30}}</span>
                    </div>

                    <div style="display: flex;">
                        <span class="htmlCode"> {{h2}}</span>
                        <h2><span> I'm Mohit Upadhyay. </span></h2>
                        <span class="htmlCode"> {{h20}}</span>
                    </div>

                    <div style="display: flex;">
                        <span class="htmlCode1"> {{span}}</span>
                        <h4>
                            <span class="titleStyle">Frontend</span> and <span class="titleStyle">Backend</span> Developer.
                        </h4>
                        <span class="htmlCode1"> {{span0}}</span>
                    </div>

                    

                    <br><br><br>
                    <div class="scroll">
                        <a href="#"><img src="./../../../../assets/images/arow3.png" width="20" height="60" alt=""></a>
                    </div>
                </div>
                <div class="mainImg">
                    <img src="./../../../../assets/images/My project.png" class="profimg" alt="">
                </div>
            </section>
        </div>
        <div class="main2">
            <section>

            </section>
        </div>
    </div>
    <div class="right">

    </div>
</div>